<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="connectionString" value="Data Source=online.viziteurope.eu; Initial Catalog=veuro5;User Id=WEB52;Password=web3k5ml"/>
    <!--строка подключения к БД Мастер-Тура-->

    <add key="BookingPacketKey" value="4676"/>

    <add key="DatesFormat" value="yyyy-MM-dd"/>

    <add key="ChildAgeLimit" value="12"/>

    <add key="CommonType" value="MasterTour"/>
    <!--без этого параметра не работают библиотеки Мегатека-->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
</configuration>